<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
<p-table #dt [value]="orders" *ngIf="canRead" styleClass="p-datatable-gridlines" [tableStyle]="{'min-width': '50rem'}" [columns]="cols" responsiveLayout="scroll" [rows]="10"  [rows]="10" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Mostrando {first} hasta {last} de {totalRecords} registros"  [rowHover]="true" dataKey="id">
    <ng-template pTemplate="caption">
        <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
            <h5 class="m-0">Pedidos del Cliente</h5>
            <span class="block mt-2 md:mt-0">
                <button pButton *ngIf="canCreate" pRipple title="Adicionar Nuevo Pedido" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>                            
            </span>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="startDate">Fecha Inicial <p-sortIcon field="name"></p-sortIcon></th>
            <th pSortableColumn="clientName">Cliente <p-sortIcon field="clientName"></p-sortIcon></th>
            <th pSortableColumn="buildingName">Obra <p-sortIcon field="buildingName"></p-sortIcon></th>
            <th pSortableColumn="materialName">Material <p-sortIcon field="materialName"></p-sortIcon></th>
            <th pSortableColumn="totalAmount">Cantidad Total<p-sortIcon field="totalAmount"></p-sortIcon></th>
            <th pSortableColumn="aprobeAmount">Cantidad Aprobada <p-sortIcon field="aprobeAmount"></p-sortIcon></th>
            <th pSortableColumn="monday">Lunes <p-sortIcon field="monday"></p-sortIcon></th>
            <th pSortableColumn="tuesday">Martes<p-sortIcon field="tuesday"></p-sortIcon></th>
            <th pSortableColumn="wednesday">Miércoles<p-sortIcon field="wednesday"></p-sortIcon></th>
            <th pSortableColumn="thursday">Jueves<p-sortIcon field="thursday"></p-sortIcon></th>
            <th pSortableColumn="friday">Viernes<p-sortIcon field="friday"></p-sortIcon></th>
            <th pSortableColumn="saturday">Sábado<p-sortIcon field="saturday"></p-sortIcon></th>
            <th pSortableColumn="sunday">Domingo<p-sortIcon field="sunday"></p-sortIcon></th>
            <th pSortableColumn="state">Estado <p-sortIcon field="state"></p-sortIcon></th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-order>
        <tr>
            <td>
                <span class="p-column-title">startDate</span>
                {{order.startDate | date: 'dd/MM/yyyy'}}
            </td>
            <td>
                <span class="p-column-title">clientName</span>
                {{order.clientName}}
            </td>
            <td>
                <span class="p-column-title">buildingName</span>
                {{order.buildingName}}
            </td>
            <td>
                <span class="p-column-title">materialName</span>
                {{order.materialName}}
            </td>
            <td>
                <span class="p-column-title">totalAmount</span>
                {{order.totalAmount}}
            </td>
            <td>
                <span class="p-column-title">aprobeAmount</span>
                {{order.aprobeAmount}}
            </td>
            <td>
                <span class="p-column-title">monday</span>
                {{order.monday}}
            </td>
            <td>
                <span class="p-column-title">tuesday</span>
                {{order.tuesday}}
            </td>
            <td>
                <span class="p-column-title">wednesday</span>
                {{order.wednesday}}
            </td>
            <td>
                <span class="p-column-title">thursday</span>
                {{order.thursday}}
            </td>
            <td>
                <span class="p-column-title">friday</span>
                {{order.friday}}
            </td>
            <td>
                <span class="p-column-title">saturday</span>
                {{order.saturday}}
            </td>
            <td>
                <span class="p-column-title">sunday</span>
                {{order.sunday}}
            </td>
            <td>
                <span class="p-column-title">state</span>
                {{order.state}}
            </td>
            <td>
                <div class="flex">
                    <button title="Editar" *ngIf="canEdit" pButton pRipple icon="pi pi-pencil" styleClass="p-button-sm" class="p-button-rounded p-button-success mr-2" (click)="editOrder(order)"></button>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>
<p-dialog [(visible)]="orderDialog" (onHide)="getGridData()" [draggable]="false" [style]="{width: '1024px',height: '460px'}" [maximizable]="true" [breakpoints]="{ '960px': '75vw' }"  [modal]="true" class="p-fluid dialog-customer">
    <ng-template pTemplate="header">
        <span class="text-xl font-bold text-center">Crear/Editar Pedido</span>
    </ng-template>
    <ng-template pTemplate="content">
        <app-order-edit [orderEdit]="order" (disableSaveParent)="reloadSave($event)"  ></app-order-edit>
    </ng-template>
    
    <ng-template  pTemplate="footer">
        <ng-container *ngIf="showOptions">
        <button pButton pRipple label="Guardar" [disabled]="disabledSave" icon="pi pi-check" class="p-button-text" (click)="saveOrder()"></button>
        <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        </ng-container>   
    </ng-template>
</p-dialog>
</div>
        
</div>
</div>