<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
<p-table #dt 
[value]="orders" 
[globalFilterFields]="['startDateFormat', 'clientName']"  
*ngIf="canRead" 
styleClass="p-datatable-gridlines" 
[tableStyle]="{'min-width': '50rem'}" 
[columns]="cols" 
responsiveLayout="scroll" 
[rowHover]="true"
dataKey="id"
[lazy]="true"
(onLazyLoad)="customSort($event)"
[resizableColumns]="true"
>
    <ng-template pTemplate="caption">
        <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
            <h5 class="m-0">Administración de Pedidos <span *ngIf="feature === 'approve'" > - Aprobación</span></h5>
            <span class="block mt-2 md:mt-0">
                <button pButton *ngIf="feature === 'approve' && allowApproveAll" pRipple title="Aprobar Todos los pedidos" icon="pi pi-check" class="p-button-danger mr-2" (click)="approveAll()"></button>                            
                <button pButton *ngIf="canCreate" pRipple title="Adicionar Nuevo Pedido" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>                            
            </span>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="id">Nro Ped <p-sortIcon field="id"></p-sortIcon></th>
            <th pSortableColumn="startDate">Fecha <p-sortIcon field="startDate"></p-sortIcon></th>
            <th pSortableColumn="aut">Aut <p-sortIcon field="aut"></p-sortIcon></th>
            <th pSortableColumn="factoryName">Planta <p-sortIcon field="factoryName"></p-sortIcon></th>
            <th pSortableColumn="clientName">Cliente <p-sortIcon field="clientName"></p-sortIcon></th>
            <th pSortableColumn="buildingName">Obra <p-sortIcon field="buildingName"></p-sortIcon></th>
            <th pSortableColumn="materialName">Material <p-sortIcon field="materialName"></p-sortIcon></th>
            <th pSortableColumn="UnitMeasure">Unidad Medida <p-sortIcon field="UnitMeasure"></p-sortIcon></th>
            <th pSortableColumn="requestAmount">Cantidad Pedida<p-sortIcon field="requestAmount"></p-sortIcon></th>
            <th pSortableColumn="aprobeAmount">Cantidad Aprobada <p-sortIcon field="aprobeAmount"></p-sortIcon></th>
            <th pSortableColumn="deliveredAmount">Cantidad Despachada <p-sortIcon field="deliveredAmount"></p-sortIcon></th>
            <th pSortableColumn="state">Estado <p-sortIcon field="state"></p-sortIcon></th>
            <th></th>
        </tr>
        <tr>
            <th></th>
            <th>
                <p-columnFilter type="date"  matchMode="equals"  field="startDate"  [showMenu]="false">
                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                      <p-calendar [showButtonBar]="true" [readonlyInput]="true" [showIcon]="true" [style]="{width:'200px'}" appendTo="body" [panelStyle]="{'overflow': 'scroll',height: '280px', 'z-index': '10000',width: '280px'}" 
                        #fd [ngModel]="value" 
                        dataType="date" 
                        dateFormat="dd/mm/yy" 
                        (onClearClick)="filterQuery(fd.value, 'fecha')"
                        (onSelect)="filterQuery(fd.value, 'fecha')">
                    </p-calendar>
                    </ng-template>
                   </p-columnFilter>
            </th>
            <th></th>
            <th>
                <p-columnFilter field="factoryName" matchMode="equals" [showMenu]="false">
                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                        <p-dropdown [ngModel]="value" appendTo="body" optionValue="id" optionName="name" optionLabel="name" [options]="allFactories" (onChange)="filterQuery($event.value, 'planta')" placeholder="Seleccione una planta" [showClear]="true">
                        </p-dropdown>
                    </ng-template>
                </p-columnFilter>
            </th>
            <th>
                <p-columnFilter field="clientName" matchMode="equals" [showMenu]="false">
                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                        <p-dropdown [ngModel]="value" appendTo="body" optionValue="id" optionName="name" optionLabel="name" [options]="customers" (onChange)="filterQuery($event.value,'cliente')" placeholder="Seleccione un cliente" [showClear]="true">
                        </p-dropdown>
                    </ng-template>
                </p-columnFilter>
            </th>
            <th>
                <p-columnFilter field="buildingName" matchMode="equals" [showMenu]="false">
                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                        <p-dropdown [ngModel]="value" appendTo="body" optionValue="id" optionName="name" optionLabel="name" [options]="allBuildings" (onChange)="filterQuery($event.value,'obra')" placeholder="Seleccione una Obra" [showClear]="true">
                        </p-dropdown>
                    </ng-template>
                </p-columnFilter>
            </th>
            <th>
                <p-columnFilter field="materialName" matchMode="equals" [showMenu]="false">
                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                        <p-dropdown [ngModel]="value" appendTo="body" optionValue="id" optionName="name" optionLabel="name" [options]="materials" (onChange)="filterQuery($event.value,'material')" placeholder="Seleccione un Material" [showClear]="true">
                        </p-dropdown>
                    </ng-template>
                </p-columnFilter>
            </th>
            <th>
            </th>
            <th>
            </th>
            <th>
            </th>
            <th>
            </th>
            <th>
                <p-columnFilter field="state" matchMode="equals" [showMenu]="false">
                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                        <p-dropdown [ngModel]="value" appendTo="body" optionValue="name" optionName="name" optionLabel="name" [options]="states" (onChange)="filterQuery($event.value,'estado')" placeholder="Seleccione un Estado" [showClear]="true">
                        </p-dropdown>
                    </ng-template>
                </p-columnFilter>
            </th>
            <th>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-order>
        <tr>
            <td>
                <span class="p-column-title">id</span>
                {{ order.id }}
            </td>
            <td>
                <span class="p-column-title">startDate</span>
                {{ order.startDate | date: 'dd/MM/yyyy' }}
            </td>
            <td>
                <span class="p-column-title">aut</span>
                {{order.aut}}
            </td>
            <td width="150px">
                <span class="p-column-title">factoryName</span>
                {{order.factoryName}}
            </td>
            <td  >
                <span class="p-column-title">clientName</span>
                {{order.clientName}}
            </td>
            <td width="100px" >
                <span class="p-column-title">buildingName</span>
                {{order.buildingName}}
            </td>
            <td>
                <span class="p-column-title">materialName</span>
                {{order.materialName}}
            </td>
            <td>
                <span class="p-column-title">UnitMeasure</span>
                {{order.UnitMeasure}}
            </td>
            <td>
                <span class="p-column-title">requestAmount</span>
                {{order.requestAmount}}
            </td>
            <td>
                <span class="p-column-title">aprobeAmount</span>
                {{order.aprobeAmount}}
            </td>
            <td>
                <span class="p-column-title">deliveredAmount</span>
                {{order.deliveredAmount}}
            </td>
            <td>
                <span class="p-column-title">state</span>
                {{order.state}}
            </td>
            <td>
                <div class="flex">
                    <button title="Editar" *ngIf="canEdit" pButton pRipple icon="pi pi-pencil" styleClass="p-button-sm" class="p-button-rounded p-button-success mr-2" (click)="editOrder(order, false)"></button>
                    <button title="Aprobar" *ngIf="feature === 'approve' && order.state === 'Pendiente'" pButton pRipple icon="pi pi-check" styleClass="p-button-sm" class="p-button-rounded p-button-success mr-2" (click)="editOrder(order, true)"></button>
                    <button title="Rechazar" *ngIf="feature === 'approve' && order.state === 'Pendiente'" pButton pRipple icon="pi pi-times" styleClass="p-button-sm" class="p-button-rounded p-button-danger mr-2" (click)="reject(order)"></button>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>
<p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows" [totalRecords]="totalRecords" [rowsPerPageOptions]="[10, 20, 30]"></p-paginator>


<p-dialog [(visible)]="orderDialog" (onHide)="getGridData()" [draggable]="false" [style]="{width: '1024px',height: '460px'}" [maximizable]="true" [breakpoints]="{ '960px': '75vw' }"  [modal]="true" class="p-fluid dialog-customer">
    <ng-template pTemplate="header">
        <span class="text-xl font-bold text-center">Crear/Editar Pedido</span>
    </ng-template>
    <ng-template pTemplate="content">
        <app-order-edit [orderEdit]="order" [isEditAprove]="editAproveMode" [feature]="feature === 'approve' ? 'approve': ''"  (disableSaveParent)="reloadSave($event)"  ></app-order-edit>
    </ng-template>
    
    <ng-template  pTemplate="footer">
        <ng-container *ngIf="showOptions">
        <button pButton pRipple #saveBt [label]="saveLabel" [disabled]="disabledSave" icon="pi pi-check" class="p-button-text" (click)="save()"></button>
        <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        </ng-container>   
    </ng-template>
</p-dialog>
<p-dialog [(visible)]="deleteDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
    <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span>Esta seguro que desea rechazar el pedido?</span>
    </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
            (click)="deleteDialog = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Si"
            (click)="confirmRejectSelected()"></button>
    </ng-template>
</p-dialog>
</div>
        
</div>
</div>