<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="/dashboard">
        <span>Sistra Soto 13</span>
    </a>

    <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>

    <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button" (click)="layoutService.showProfileSidebar()">
        <i class="pi pi-ellipsis-v"></i>
    </button>

    <div #topbarmenu class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
        <p-overlayPanel #op>
            <ng-template pTemplate="content">
                <p-button label="Cambiar Contraseña" icon="pi pi-refresh" styleClass="block p-button-secondary p-button-text" (click)="showDialog('top-right')"></p-button>
                <p-button label="Cerrar Sesión" icon="pi pi-sign-out" styleClass="block p-button-secondary p-button-text" (click)="logOut()"></p-button>
            </ng-template>
        </p-overlayPanel>
        <div>
            <p-button label="{{msgWellcome}}" icon="pi pi-user" styleClass="p-button-outlined p-button-secondary" (click)="op.toggle($event)"></p-button>
        </div>
        <button class="p-link layout-topbar-button">
            <i class="pi pi-cog"></i>
            <span>Settings</span>
        </button>
    </div>
</div>
<p-dialog [contentStyle]="{'overflow': 'visible'}" header="Cambiar Contraseña" [(visible)]="visible" [position]="position" [style]="{ width: '50vw' }">
    <form [formGroup]="formChangePw" >
        <p-toast></p-toast>
    <div class="flex flex-column align-items-center justify-content-center">
        <div>
            <p-password id="newPassword"  formControlName="newPass" placeholder="Nueva Contraseña*" 
            [toggleMask]="true" styleClass="block mb-2" [feedback]="false" inputStyleClass="w-full p-3 md:w-30rem"
            [ngClass]="{ 'is-invalid ng-dirty': submittedChangePw && f.newPass.errors }"
            ></p-password>
            <div class="block mb-2">
                <small class="ng-dirty ng-invalid"  *ngIf="submittedChangePw && f?.newPass?.errors?.required">
                    Nueva Contraseña es requerida
                </small>
                <small class="ng-dirty ng-invalid"  *ngIf="submittedChangePw && f?.newPass?.errors?.pattern">
                    La nueva contraseña debe tener una longitud mínima de 8
                </small>
            </div>
        </div>
        <div>
            <p-password id="confirmNewPassword"  formControlName="confirmPass" placeholder="Confirmar Nueva Contraseña*" 
            [toggleMask]="true" styleClass="mb-2" [feedback]="false" inputStyleClass="w-full p-3 md:w-30rem"
            [ngClass]="{ 'is-invalid ng-dirty': submittedChangePw && f.confirmPass.errors }"
            ></p-password>
            <div class="block mb-2">
                <small class="ng-dirty ng-invalid"  *ngIf="submittedChangePw && f?.confirmPass?.errors?.required">
                    Confirmar Nueva Contraseña es requerida
                </small>
                <small class="ng-dirty ng-invalid"  *ngIf="submittedChangePw && f?.confirmPass?.errors?.pattern">
                    La nueva contraseña debe tener una longitud mínima de 8
                </small>
                <small *ngIf="submittedChangePw && f?.confirmPass?.errors?.confirmedValidator">Las contraseñas ingresadas no coinciden, por favor vuelva a ingresarlas.</small>
            </div>
        </div>
        <div class="flex align-items-center justify-content-center  m-2">
                <button pButton pRipple label="Cambiar Contraseña" class="w-full p-3 md:w-20rem text-xl" (click)="changePw()" ></button>
        </div>
    </div>
    </form>
</p-dialog>